
<form id="form" class="form_container" >
    <label for="email">Email</label>
    <input type="email"  name="email" required>
    <label for="password">Password</label>
    <input type="password"  name="password" required>
    <input type="file" name="" id="file">
      <button id="test" type="submit">Register</button>
  </form>
  <button id="click">click</button>
<button id="logout">logout</button>
  