register
  <label for="email">Email</label>
  <input type="email"  name="email" id="email">
  <label for="password">Password</label>
  <input type="password"  name="password" id="password">
  <label for="name">name</label>
  <button id="file">dodaj zdj</button>
  <input type="name"  name="name" id="name">
  <button id="form">register</button>

