home after login
<button id="logout">logout</button>


<div class="test" style="display:flex;flex-direction: column;">
    <label>Nazwa</label>
    <input type="text">
    <label>Marka</label>
    <input type="text">
    <label>Model</label>
    <input type="text">
    <label>Numer seryjny</label>
    <input type="text">
    <label>Kwota zakupu</label>
    <input type="text">
    <label>Data rozpoczecia gwarancji</label>
    <input type="text">
    <label>Suma lat gwarancji</label>
    <input type="text">
    <label>Kategoria</label>
    <input type="text">
    <button>dodaj dowód jeden</button>
    <button>dodaj dowod dwa</button>
    <button>dodaj przedmiot</button>
</div>
<script>

    
</script>
