home after login
<button id="logout">logout</button>


<div class="test" style="display:flex;flex-direction: column;">
    <button id="nowy">Dodaj nowy przedmiot !</button>
    <label>Nazwa</label>
    <input type="text">
    <label>Marka</label>
    <input type="text">
    <label>Model</label>
    <input type="text">
    <label>Numer seryjny</label>
    <input type="text">
    <label>Kwota zakupu</label>
    <input type="text">
    <label>Data rozpoczecia gwarancji</label>
    <input type="text">
    <label>Suma lat gwarancji</label>
    <input type="text">
    <label>Kategoria</label>
    <input type="text">
    <button id="test_add_item">dodaj dowód jedenTUUU</button>
    <button>dodaj dowod dwa</button>
    <button id="ad_item">dodaj przedmiot</button>
</div>
<script>

    
</script>
